@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 1400px;
  margin-inline: auto;
}

@font-face {
  font-family: coconat;
  src: url('/fonts/Coconat.woff');
}

/* Styles for Header Section */
.navbar {
  display: flex;
  padding-inline: 10px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 20;
  box-shadow: 0px 2px 22px 0px #7E7A7A40;
}

.ham-menu {
  display: none;
}

.drop-down {
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #fff;
  display: none;
  padding-block: 10px;
}

.drop-down div {
  padding-block: 5px;
  width: 100%;
}

.active {
  display: block;
}

nav i {
  transition: 0.5s ease-in-out;
}

.rotate-arrow {
  rotate: 180deg;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-family: coconat;
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  padding-inline: 10px;
  padding-block: 15px;
  background: linear-gradient(#E2E8E8, #E2E8E8);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: 0.5s ease-out;
  position: relative;
}

nav a:hover {
  background-size: 100% 100%;
}

nav img {
  cursor: pointer;
}

/* Styles for Home Page Section */
.home-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
}

.home-section-left {
  width: 40%;
  padding-left: 3rem;
}

span {
  font-size: .8vw;
}

.home-section-left h2 {
  font-family: coconat;
  font-weight: 400;
  font-size: 4rem;
  margin-top: 40px;
}

.home-section-left p {
  font-size: 1.7rem;
  margin-top: 100px;
}

.home-section-right {
  width: 60%;
  display: flex;
  justify-content: center;
}

#svgd {
  width: 90%;
  height: auto;
  height: 80%;
}

/* Styles for Natural Products Image Section */
.natural-products {
  margin-inline: 3rem;
  background-image: url('/images/leaves.png');
  background-color: #262B2D;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin-bottom: 4rem;
  padding: 30px;
  color: #fff;
}

.natural-products h3 {
  width: 60%;
  font-size: 2.5rem;
  font-weight: 400;
  margin-block: 3rem;
}

.natural-products p {
  width: 60%;
  font-size: 1.2rem;
}

/* Styles for Cards Section */
.info {
  padding-inline: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.card {
  width: 30%;
  border-radius: 1rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  font-size: 1.2rem;
}

.card img {
  width: 25%;
}

.card button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  padding: 10px;
}

.card button:hover {
  border-radius: .5rem;
  border: 2px solid #000000;
}

.arrow {
  width: 15%;
}

.one {
  background-color: #F2AC85;
}

.one button {
  background-color: #F2AC85;
}

.two {
  background-color: #D6C4ED;
}

.two button {
  background-color: #D6C4ED;
}

.three {
  background-color: #C4D9FF;
}

.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.card-btn button {
  font-size: 1rem;
}

.card-btn i {
  margin-top: 5px;
  margin-left: 10px;
}

.card-btn p {
  margin-top: 10px;
}

.order {
  display: flex;
  justify-content: end;
}

.order img {
  width: 35%;
}

/* Styles for Auto Changing Image Section */
.img-class {
  padding-inline: 3rem;
  margin-bottom: 4rem;
}

.slides {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
}

.slides img {
  min-width: 100%;
  animation-name: slide_animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes slide_animation {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  60% {
    transform: translate(-100%);
  }

  90% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* Styles for Footer Section */
footer {
  background-color: #E2E8E8;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

.subscription {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #E2E8E8;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.subscription h4 {
  font-family: coconat;
  font-size: 2rem;
  font-weight: 400;
}

.subscription input {
  background-color: #E2E8E8;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 50%;
  padding: 10px;
}

.subscription img {
  position: absolute;
  width: 2%;
  top: 40%;
  left: 95%;
  cursor: pointer;
}

.footer-section {
  background-color: #CED7D6;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img {
  width: 100%;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  width: 60%;
}

.footer-logo h1 {
  margin-block: 2rem;
}


.footer-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: #CED7D6;
  padding-inline: 2rem;
}

.copyrights {
  background-color: #CED7D6;
  padding-inline: 3rem;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

/* Styles for Hamburger Menu */

.ham-menu div {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.ham .ham1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.ham .ham2 {
  opacity: 0;
}

.ham .ham3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navigations {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-bottom: 15px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 22px 0px #7E7A7A40;
  z-index: 1;
}

@media (width <=1200px) {
  .logo img {
    width: 12%;
  }

  .logo {
    width: 30%;
  }

  h1 {
    font-size: 2rem;
  }

  nav a {
    font-size: 1rem;
  }

  span {
    font-size: 1vw;
  }

  .home-section-left p {
    font-size: 1.3rem;
    margin-top: 90px;
  }

  .natural-products {
    padding: 20px;
  }

  .natural-products h3 {
    font-size: 2.5vw;
    margin-block: 20px;
  }

  .natural-products p {
    font-size: 1.1rem;
  }

  .card {
    padding: 20px;
  }

  .card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card-btn {
    margin-top: 35px;
  }

  .subscription h4 {
    font-size: 2rem;
  }

  .subscription input {
    width: 50%;
  }

  .subscription img {
    width: 2%;
    left: 94%
  }

  .footer-left img {
    width: 100%;
  }

  .footer-logo h1 {
    font-size: 2.5rem;
  }

  .footer-logo img {
    width: 5%;
  }

  li {
    font-size: 1.2rem;
  }

  .copyrights {
    font-size: 1rem;
  }
}

@media(width <=1050px) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    gap: 12px;
  }

  nav a {
    font-size: .8rem;
    padding-inline: 10px;
  }

  span {
    font-size: .6rem;
  }

  .home-section {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  .home-section-left P {
    margin-top: 50px;
    font-size: 1rem;
  }

  .home-section-left h2 {
    font-size: 3rem;
    margin-block: 2rem;
  }

  .natural-products {
    padding: 15px;
    margin-bottom: 3rem;
  }

  .natural-products h3 {
    margin-block: 15px;
  }

  .natural-products p {
    font-size: .9rem;
  }

  .info {
    margin-bottom: 3rem;
  }

  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .card p {
    font-size: .9rem;
  }

  .card-btn {
    margin-top: 30px;
  }

  .img-class {
    margin-bottom: 3rem;
  }

  .subscription {
    padding: 1.5rem;
  }

  .subscription h4 {
    font-size: 1.3rem;
  }

  .subscription input {
    width: 50%;
  }

  .subscription img {
    width: 2%;
    left: 94%
  }

  .footer-section {
    padding: 1.5rem;
  }

  .footer-left img {
    width: 100%;
  }

  .footer-right {
    padding: .5rem;
  }

  .footer-logo h1 {
    margin-block: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .copyrights {
    font-size: .7rem;
  }

}

@media (width <=780px) {
  h1 {
    font-size: 1.2rem;
  }

  nav a {
    font-size: .7rem;
    padding-inline: 5px;
  }

  nav img {
    width: 3.5%;
  }

  .home-section {
    margin-top: 1rem;
  }

  .home-section-left {
    padding-left: 20px;
  }

  .home-section-left P {
    margin-top: 30px;
    font-size: .8rem;
  }

  .home-section-left h2 {
    font-size: 2.5rem;
    margin-block: 2rem;
  }

  .natural-products {
    padding: 15px;
    margin-bottom: 2rem;
    margin-inline: 10px;
  }

  .natural-products h3 {
    margin-block: 15px;
    width: 100%;
  }

  .natural-products p {
    font-size: .7rem;
    width: 100%;
  }

  .info {
    margin-bottom: 2rem;
    padding-inline: 10px;
  }

  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: .7rem;
  }

  .img-class {
    margin-bottom: 2rem;
    padding-inline: 10px;
  }

  .subscription h4 {
    font-size: 1.1rem;
  }

  footer {
    margin-inline: 10px;
  }

  .footer-section {
    padding: 1rem;
  }

  .footer-logo {
    padding-inline: 10px;
  }

  .footer-logo h1 {
    font-size: 2rem;
  }

  .copyrights {
    padding-inline: 10px;
  }

  li {
    font-size: .8rem;
  }
}

@media (width <=690px) {
  nav {
    display: none;
    position: relative;
  }

  nav img {
    width: 25px;
    position: absolute;
    top: 5%;
    left: 10%;
  }

  nav :nth-child(7) {
    left: 40%;
  }

  nav a {
    font-size: 15px;
    margin-bottom: -25px;
  }

  .navbar :nth-child(5) {
    margin-bottom: -15px;
  }

  .home-section-left span {
    position: absolute;
    top: 0;
  }

  .logo {
    width: 80%;
  }

  .logo img {
    width: 30px;
  }

  .ham-menu {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
  }

  .home-section {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 1.2rem;
  }

  .home-section {
    margin-bottom: 20px;
  }

  .home-section-left {
    min-width: 100%;
  }

  .home-section-right {
    min-width: 100%;
  }

  .home-section-left P {
    margin-top: 30px;
    font-size: .8rem;
  }

  .home-section-left h2 {
    font-size: 2rem;
    margin-block: 1rem;
  }

  .natural-products {
    padding: 10px;
    margin-bottom: 20px;
  }

  .natural-products p {
    font-size: .6rem;
    width: 100%;
  }

  .info {
    margin-bottom: 20px;
  }

  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: .6rem;
  }

  .card-btn button {
    font-size: .8rem;
    padding: 5px;
  }

  .img-class {
    margin-bottom: 20px;
  }

  .subscription {
    padding: 20px;
    flex-direction: column;
  }

  .subscription input {
    width: 70%;
  }

  .subscription h4 {
    font-size: 1.5rem;
  }

  .subscription img {
    top: 60%;
    left: 80%;
  }

  footer {
    margin-inline: 10px;
  }

  .footer-section {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 30px;
  }

  .footer-left img {
    width: 50%;
  }

  .footer-right {
    width: 100%;
    justify-content: start;
    gap: 40px;
  }

  .footer-logo h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .footer-logo img {
    width: 8%;
  }

  li {
    font-size: .9rem;
  }

  .copyrights {
    font-size: .5rem;
  }
}

@media (width <=550px) {

  .info {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-inline: 10px;
  }

  .card {
    min-width: 80%;
    min-height: 400px;
    margin-right: 50px;
    padding: 30px;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .card-btn {
    margin-top: 0;
  }

  .natural-products h3 {
    font-size: 15px;
  }

  .subscription h4 {
    font-size: 1rem;
  }

  .subscription input {
    width: 90%;
  }

  .subscription img {
    top: 55%;
    left: 88%;
    width: 4%;
  }
}